In [1]:
import pandas as pd
import numpy as np
import sklearn.metrics as smt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('C:\\Users\\acer\\Desktop\\machine\\balance-scale.csv')
df.head(5)

   B  1  1.1  1.2  1.3
0  R  1    1    1    2
1  R  1    1    1    3
2  R  1    1    1    4
3  R  1    1    1    5
4  R  1    1    2    1

In [3]:
features=df.drop('B',axis=1)
features.head()

   1  1.1  1.2  1.3
0  1    1    1    2
1  1    1    1    3
2  1    1    1    4
3  1    1    1    5
4  1    1    2    1

In [4]:
target=df.values[:,0]

In [5]:
x_train,x_test,y_train,y_test= train_test_split(features,target,test_size=0.2,random_state=42)

In [6]:


dt_gini = DecisionTreeClassifier(criterion='gini')
dt_gini.fit(x_train,y_train)
pred_y = dt_gini.predict(x_test)
print("Accuracy Score : ",smt.accuracy_score(y_test,pred_y))

Accuracy Score :  0.824

In [7]:
dt_entropy = DecisionTreeClassifier(criterion='entropy')
dt_entropy.fit(x_train,y_train)
pred_y = dt_entropy.predict(x_test)
print("Accuracy Score : ",smt.accuracy_score(y_test,pred_y))

Accuracy Score :  0.8

In [9]:
ranfor = RandomForestClassifier(criterion='gini')
ranfor.fit(x_train,y_train)
pred_y = ranfor.predict(x_test)
print("Accuracy Score : ",smt.accuracy_score(y_test,pred_y))

Accuracy Score :  0.808

In [10]:
ranfor = RandomForestClassifier(criterion='entropy')
ranfor.fit(x_train,y_train)
pred_y = ranfor.predict(x_test)
print("Accuracy Score : ",smt.accuracy_score(y_test,pred_y))

Accuracy Score :  0.848